<div class="containerKontakt">
  <header>
    <img id="AboutPhoto" src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
    <h1 id="title">CONTACT US</h1>
  </header>
  <div class="small-12 medium-offset-2 medium-8 columns end">
    <p class="lead">
      <strong>If you have any questions or need to get in touch with Pets Webshop in any other way, you can find us here</strong>
    </p>
    <p class="kontaktInfo">Dengodevej 10<br>DK-6700 Esbjerg</p>
    <p class="kontaktInfo">E-mail: post@dkk.dk<br>Website: www.dkk.dk</p>
    <p class="kontaktInfo">Phone: 11 33 55 77<br>Information: 11 33 55 77 (Mondag-Thuesday 9-12 as whell 12:30-15 and Friday 9-14)</p>
    <p class="kontaktInfo">Follow us on<br>Facebook: https://www.facebook.com/Petswebshop<br>Instagram: https://instagram.com/Petswebshop</p>
    <a id="PhotoLink" href="https://unsplash.com/s/photos/dog">Her we get our pictures</a>
  </div>
</div>
