<div class="containerAbout">
  <header>
    <img id="AboutPhoto" src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
    <h1 id="title">OM PETS WEBSHOP</h1>
  </header>
  <div class="small-12 medium-offset-2 medium-8 columns end">

    <p class="lead">
      <strong>Dansk Kennel Klub er Danmarks største organisation for hundeejere</strong>

    </p>
    <p>Alle hunde har ret til et godt liv sammen med deres ejere. Som hundeejere har vi ansvaret for, at vores hunde har det godt og lever i harmoni med os mennesker. Det vil vi i Dansk Kennel Klub gerne hjælpe alle danske hundeejere med.</p>
    <p>Dansk Kennel Klub er den forening i Danmark, som samlet set har mest viden om hunderacer, fordi vi er en forening for både hundeejere, hundeinteresserede og opdrættere.</p>
    <p>Din hund skal have et godt liv sammen med dig (og din familie) hele dens liv. Fra fødsel til de evige jagtmarker. Det kan vi i fælleskab sørge for, ved at du ved, hvad du gerne vil have ud af dit liv med din hund. Vi kan med gode råd og viden bidrage til, at du er klædt på til at købe det, der er den rigtige hund for dig.<br></p>
    <p>Dansk Kennel Klub blev stiftet i 1897 og er dermed en af Danmarks ældste foreninger, og i dag har vi flere end 28.000 medlemmer.<br><br>Dansk Kennel Klub er – som den eneste danske organisation – anerkendt af den internationale sammenslutning af nationale kennelklubber, Fédération Cynologique Internationale (FCI).<br></p>
  </div>
</div>

