<div class="containerAbout">
  <header>
    <img id="AboutPhoto" src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
    <h1 id="title">ABOUT PETS WEBSHOP</h1>
  </header>
  <div class="small-12 medium-offset-2 medium-8 columns end">

    <p class="lead">
      <strong>Pets webshop is Denmarks bigest organisation to dog owners</strong>
    </p>
    <p>All dogs have the right to a good life with their owners. As dog owners, we have the responsibility that our dogs feel good and live in harmony with us humans. In Pet's webshop, we would like to help all Danish dog owners with this.</p>
    <p>Pet's webshop is the association in Denmark which, overall, has the most knowledge about dog breeds, because we are an association for both dog owners, dog enthusiasts and breeders.</p>
    <p>Your dog must have a good life with you (and your family) all its life. From birth to the eternal hunting grounds. Together, we can make sure that you know what you want out of your life with your dog. With good advice and knowledge, we can help ensure that you are ready to buy the right dog for you.</p>
    <p>Pet's webshop was founded in 1897 and is thus one of Denmark's oldest associations, and today we have more than 28,000 members.<br>Pet's webshop is – as the only Danish organization – recognized by the international association of national kennel clubs, the Fédération Cynologique Internationale (FCI).<br></p>
  </div>
</div>

